[core]
	pager = delta
	excludesfile = /home/vishesh/.gitignore
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	light = false
	line-numbers = true
	side-by-side = true
	syntax-theme = Nord
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[safe]
	directory = /home/vishesh/code/entropy/cadvisor/actions-runner/_work/workshop/workshop
	directory = /home/vishesh/code/entropy/cadvisor/actions-runner/_work/workshop/workshop
